body {
  background: #777;
  font-family: arial;
}

.signup-form h1 {
  font-size: 36px;
  text-align: center;
  color: green;
  margin-bottom: 30px;
  font-weight: normal;
}
.signup-form {
    background: #fff;
    width: 450px;
    border-radius: 6px;
    margin: 0 auto;
    display: table;
    padding: 15px 30px 30px;
    box-sizing: border-box;
}
.form-group {
  float: left;
  width: 100%;
  margin: 0 0 15px;
  position: relative;
}
.signup-form input {
    width: 100%;
    padding: 5px;
    height: 56px;
    border-radius: 74px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
    padding-left: 75px;
}
.signup-form .signup-btn {
  background: green;
  padding: 11px 50px;
  border-color: green;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  border: 1px solid green;
  border-radius: 44px;
  width: 100%;
  height: 56px;
  cursor: pointer;
}
.signup-form button:hover{
  opacity: 0.9;
}
.login-form p {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 0 0 10px;
}
media screen and (max-width:767px) {
.login-form {
    width: 90%;
    padding: 15px 15px 30px;
}
}
